body {
  background-color: rgb(255, 255, 255);
}
.base {
  margin: 10px auto;
  padding: 20px auto;
  border: 10px solid yellow;
}

.base h2 {
  text-align: center;
}

.base h3 {
  text-align: center;
}

.box {
  border: 10px solid lightblue;
  height: 600px;
}

.base > .box > div {
  padding: 20px 10px;
  border: 5px solid white;
  font-size: 50px;
  text-align: center;
}

.base > .box > div:nth-child(odd) {
  background: orange;
}

.base > .box > div:nth-child(even) {
  background: green;
}

.flex-container {
  /* 정렬하려고하는 부모 요소에 선언 */
  display: flex;
  /* display: inline-flex; */

  /* 요소들이 강제로 한줄에 배치되게 할 것인지 여부 설정 */
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-wrap: wrap-reverse; */

  /* 메인축 방향 설정, 쌓이는 방향 설정 (메인축의 방향만 바뀜.) */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */

  /* flex-direction과 flex-wrap의 shorthand */
  /* flex-flow: column wrap; */

  /* 메인축 정렬 */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  justify-content: space-around;
  /* justify-content: space-evenly; */

  /* 교차축 정렬 */
  /* align-content: center; */
  /* align-content: flex-start; */
  /* align-content: flex-end; */
  /* align-content: space-between; */
  /* align-content: space-around; */
  /* align-content: space-evenly; */
  /* align-items: stretch; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  align-items: center;
  /* align-items: baseline; */
}

.item1 {
  /* align-self: flex-start; */
  /* order: -1; */
  /* 주축에서 남는 공간을 항목들에게 분배 */
  /* flex-grow: 1; */
}

.item2 {
  /* align-self: center; */
  /* order: 0; */
  /* flex-grow: 2; */
}

.item3 {
  /* align-self: flex-end; */
  /* order: -; */
  /* flex-grow: 3; */
}

.box div {
  width: 80px;
}
