.App {
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

#header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-top h2 {
  padding: 1% 0;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: wheat;
}
nav ul {
  display: flex;
  justify-content: space-around;
}

nav a {
  font-weight: bold;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu > li {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: white;
  transition: 3s;
  z-index: 1000;
}
.submenu li {
  width: 100%;
}
.menu li:hover .submenu {
  display: block;
  width: 100%;
}
.menu .submenu li a {
  border-bottom: 1px solid #000;
  background: wheat;
}
.menu li a {
  text-align: center;
  display: block;
  width: 150px;
}
