* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 1%;
}
.movie-container {
  width: 80%;
  margin: 0 auto;
}
.movie-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.movie-box li {
  width: 24%;
  margin-right: 1%;
}
.movie-box li a img {
  width: 100%;
}
