* {
  margin: 0;
  padding: 0;
}
.container {
  width: 50%;
  margin: 0 auto;
}

.completed {
  text-decoration: line-through;
}
#todo-list {
}
li {
  list-style: none;
  padding: 5%;
  border: 1px solid #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
